[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = {extras = ["base"], version = "*"}
pyserial = "*"
pyserial-asyncio = "*"
pybluez = {git = "https://github.com/pybluez/pybluez.git"}
"kivy-deps.sdl2" = {markers = "platform_system == 'Windows'",version = "*"}
pywin32 = {markers = "platform_system == 'Windows'",version = "*"}

[dev-packages]
pyinstaller = {ref = "develop", git = "https://github.com/pyinstaller/pyinstaller.git"}
altgraph = "*"
pywin32-ctypes = {markers = "platform_system == 'Windows'",version = "*"}
pefile = {markers = "platform_system == 'Windows'",version = "*"}

[requires]
python_version = "3.9"

[scripts]
start = "python src/start.py"
build = "pyinstaller sega-slider.spec"
"build-onefile" = "pyinstaller sega-slider-onefile.spec"
