[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = {extras = ["base"], version = "*"}
pyserial = "*"
pyserial-asyncio = "*"
pybluez = {git = "https://github.com/pybluez/pybluez.git"}
"kivy-deps.sdl2" = {markers = "platform_system == 'Windows'",version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
